:root{
    --light:rgb(202, 202, 202);
    --dark:rgb(0, 9, 49);
}

*,*::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Audiowide", sans-serif;
    /* font-family: "Sofia", sans-serif; */
}

main{
    width: 100%;
    min-height: 100vh;
}

.dark-mode{
    background-color: var(--dark);
    color: var(--light);
}

.light-mode{
    background-color: var(--light);
    color: var(--dark);
}
